<h1 id="user-list-heading"><%= pluralize(@users.size, "User") %></h1>
<ul class="users" role="list" aria-labelledby="user-list-heading">
  <% @users.each do |user| %>
    <li role="listitem">
      <%= link_to user.name, user, role: "link" %>
      created
      <%= time_ago_in_words(user.created_at) %> ago
    </li>
  <% end %>
</ul>